@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}
 
<select id="group" hidden>
	<option value="All">Everyone</option>
	<option value="MySelf">To Myself</option>
	<option value="PrivateGroup">Private Group</option>

</select>

<div class="col-sm-4 col-sm-offset-4 frame">
	<ul></ul>
	<div>
		<div class="msj-rta macro">
			<div class="text text-r" style="background:whitesmoke !important">
				<input class="mytext" placeholder="Type a message" />
			</div>
		</div>
	</div>
</div>  